html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(33, 47, 79, 1) 35%, rgba(33, 47, 79, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/background.jpg");
}

.appBar {
  background-color: transparent !important;
  backdrop-filter: blur(20px) !important;
}